<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Company Name *", class: "form-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "Email *", class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :phone, "Phone *", class: "form-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :address, "Address", class: "form-label" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= f.label :cap, "CAP", class: "form-label" %>
      <%= f.text_field :cap, class: "form-control" %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :city, "City", class: "form-label" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :province, "Province", class: "form-label" %>
      <%= f.text_field :province, class: "form-control" %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :state, "State", class: "form-label" %>
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :password, "New Password", class: "form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <div class="input-group">
        <%= f.password_field :password, id: "password-edit", autocomplete: "new-password", class: "form-control" %>
        <span class="input-group-text toggle-password-icon" toggle="#password-edit"><i class="bi bi-eye-slash-fill"></i></span>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :password_confirmation, "Confirm New Password", class: "form-label" %>
      <div class="input-group">
        <%= f.password_field :password_confirmation, id: "password-edit-confirmation", autocomplete: "new-password", class: "form-control" %>
        <span class="input-group-text toggle-password-icon" toggle="#password-edit-confirmation"><i class="bi bi-eye-slash-fill"></i></span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :current_password, "Current Password * <i>(we need your current password to confirm your changes)</i>".html_safe, class: "form-label" %>
    <div class="input-group">
      <%= f.password_field :current_password, id: "current-password", autocomplete: "current-password", class: "form-control" %>
      <span class="input-group-text toggle-password-icon" toggle="#current-password"><i class="bi bi-eye-slash-fill"></i></span>
    </div>
  </div>
  <div class="mb-3">
    <!-- Display error messages in alert -->
    <% if resource.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Please fix the following <%= pluralize(resource.errors.count, "error") %>:</h4>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="actions d-grid gap-2">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>