<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4 mb-3">
      <%= f.label :name, "Name *", class: "form-label" %>
      <%= f.text_field :name, autofocus: true, class: "form-control"%>
      <% if resource.errors[:name].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:name).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.label :surname, "Surname *", class: "form-label" %>
      <%= f.text_field :surname, class: "form-control" %>
      <% if resource.errors[:surname].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:surname).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.label :date_of_birth, "Date of Birth *", class: "form-label" %>
      <%= f.date_field :date_of_birth, class: "form-control" %>
      <% if resource.errors[:date_of_birth].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:date_of_birth).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :email, "Email *", class: "form-label" %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    <% if resource.errors[:email].present? %>
      <div class="invalid-feedback" style="display:block;">
        <% resource.errors.full_messages_for(:email).each do |message| %>
          <%= message %><br/>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :type, value: params[:user_type], id: "hidden_type" %>
  <%= hidden_field_tag :user_type, params[:user_type], id: "hidden_user_type" %>
  <div class="mb-3">
    <%= f.label :phone, "Phone", class: "form-label" %>
    <%= f.text_field :phone, class: "form-control" %>
    <% if resource.errors[:phone].present? %>
      <div class="invalid-feedback" style="display:block;">
        <% resource.errors.full_messages_for(:phone).each do |message| %>
          <%= message %><br/>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :address, class: "form-label" %>
    <%= f.text_field :address, class: "form-control" %>
    <% if resource.errors[:address].present? %>
      <div class="invalid-feedback" style="display:block;">
        <% resource.errors.full_messages_for(:address).each do |message| %>
          <%= message %><br/>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= f.label :cap, class: "form-label" %>
      <%= f.text_field :cap, class: "form-control" %>
      <% if resource.errors[:cap].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:cap).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :city, class: "form-label" %>
      <%= f.text_field :city, class: "form-control" %>
      <% if resource.errors[:city].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:city).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :province, class: "form-label" %>
      <%= f.text_field :province, class: "form-control" %>
      <% if resource.errors[:province].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:province).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :state, class: "form-label" %>
      <%= f.text_field :state, class: "form-control" %>
      <% if resource.errors[:state].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:state).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :password, "Password *", class: "form-label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <div class="input-group">
        <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "form-control" %>
        <span class="input-group-text toggle-password-icon" toggle="#password"><i class="bi bi-eye-slash-fill"></i></span>
      </div>
      <% if resource.errors[:password].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:password).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.label :password_confirmation, "Confirm Password *", class: "form-label" %>
      <div class="input-group">
        <%= f.password_field :password_confirmation, id: "password-confirmation", autocomplete: "new-password", class: "form-control" %>
        <span class="input-group-text toggle-password-icon" toggle="#password-confirmation"><i class="bi bi-eye-slash-fill"></i></span>
      </div>
      <% if resource.errors[:password_confirmation].present? %>
        <div class="invalid-feedback" style="display:block;">
          <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
            <%= message %><br/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Display error messages in alert -->
  <% if resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><strong><%= pluralize(resource.errors.count, "error") %></strong> prohibited this user from being saved</p>
    </div>
  <% end %>

  

  <div class="actions d-grid gap-2">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
