<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg p-4">
      <% if current_user.type == UserRoles::USER_NORMAL %>
          <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %> (user account)</h2>
          <%= render 'form_user_normal_edit', resource: resource, resource_name: resource_name %>
      <% elsif current_user.type== UserRoles::COMPANY_ORGANIZER %>
          <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %> (organizer account)</h2>
          <%= render 'form_company_organizer_edit', resource: resource, resource_name: resource_name %>
      <% elsif current_user.type == UserRoles::USER_ORGANIZER %>
         <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %> (organizer account)</h2>
          <%= render 'form_user_organizer_edit', resource: resource, resource_name: resource_name %>
      <% else %>
          <!-- Impossible -->
            <div class="alert alert-danger">
              <strong>Sorry, I can't find your account</strong>
            </div>
      <% end %>



        <div class="mt-4 text-center">
          <h3>Cancel my account</h3>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </div>

        <hr/>
        <div class="col-md-3 mb-3">
          <%= link_to "Back", :back, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

