<!-- CAROUSEL  -->
<% if event.photos.attached? %>
  <div id="eventPhotosCarousel<%= event.id %>" class="carousel slide" >
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
      <% event.photos.each_with_index do |photo, index| %>
        <button type="button" data-bs-target="#eventPhotosCarousel<%= event.id %>" data-bs-slide-to="<%= index %>" class="<%= "active" if index.zero? %>"></button>
      <% end %>
    </div>
    <!-- Photos -->
    <div class="carousel-inner rounded">
      <% event.photos.each_with_index do |photo, index| %>
        <% if fixed %>
          <div class="carousel-item carousel-item-fixed <%= "active" if index.zero? %>">
          <% else %>
            <div class="carousel-item  <%= "active" if index.zero? %>">
            <% end %>
            <%= image_tag photo, class: "d-block w-100 rounded" %>
          </div>
        <% end %>
      </div>
      <% if event.photos.count > 1 %>
        <button class="carousel-control-prev" type="button" data-bs-target="#eventPhotosCarousel<%= event.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#eventPhotosCarousel<%= event.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% end %>
    </div>
  <% else %>
    <!-- Display a default image if no photos are attached -->
    <div class="carousel slide">
      <div class="carousel-inner rounded">
        <% if fixed %>
          <div class="carousel-item carousel-item-fixed active">
          <% else %>
            <div class="carousel-item active">
            <% end %>
            <%= image_tag "default_event_image.jpg", class: "d-block w-100 rounded" %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- END CAROUSEL -->