
<% @events.each do |event| %>
  <div class="col-md-3 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= event.name %></h5>
        <%= render 'carousel', event: event, fixed: true %>
        <h6 class="card-text">Event Organizer: <%= event.user.get_name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Start: <%= format_date(event.beginning_date) %> at <%= format_time(event.beginning_time) %></h6>
        <h6 class="card-subtitle mb-2 text-muted">End: <%= format_date(event.ending_date) %> at <%= format_time(event.ending_time) %></h6>
        <p class="card-text">Participants: <%= event.subscriptions.count %> / <%= event.max_participants %></p>
        <p class="card-text">Address: <%= event.address %><br/>
          <%= event.city %>, <%= event.province %> (<%= event.cap %>), <%= event.country %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'View', event_path(event), class: 'btn btn-info' %>
        <% if event.user == current_user %>
          <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
          <%= link_to 'Delete', 'javascript:void(0);', class: 'btn btn-danger ms-2', 'data-bs-toggle': 'modal', 'data-bs-target': "#deleteEvent#{event.id}"  %>
          <%= render 'modals/delete_event_modal', event: event %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
