<!-- if there are not events display an alert -->
<% if @events == [] %>
  <div class= "alert alert-info" role="alert" >
    <strong>There are no events to display. </strong>
  </div>
<%else%>
  <% @events.each do |event| %>
    <div class="col-md-3 mb-3">
      <div class="card  <%= 'ongoing-event' if event.ongoing? %>">
      <div class="card-header d-flex justify-content-end">
        <% if event.ongoing? %>
          <div class="badge bg-gradient-success me-2">Ongoing</div>
        <%else %>
          <div class="badge bg-gradient-secondary me-2">Future event</div>
        <% end %>
        <% if event.full?%>
        <div class="badge bg-gradient-warning me-2">Full</div>
        <%end %>
        <% if user_signed_in? && current_user.subscribed?(event) %>
          <div class="badge bg-gradient-primary me-2">Subscribed</div>
        <% end %>
      </div>
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <%= render 'carousel', event: event, fixed: true %>
          <h6 class="card-text">Event Organizer: <%= event.user.get_name %></h6>
          <h6 class="card-subtitle mb-2 text-muted">Start: <%= format_date(event.beginning_date) %> at <%= format_time(event.beginning_time) %></h6>
          <h6 class="card-subtitle mb-2 text-muted">End: <%= format_date(event.ending_date) %> at <%= format_time(event.ending_time) %></h6>
          <p class="card-text">Participants: <%= event.subscriptions.count %> / <%= event.max_participants %></p>
          <p class="card-text">Address: <%= event.address %><br/>
            <%= event.city %>, <%= event.province %> (<%= event.cap %>), <%= event.country %></p>
        </div>
        <div class="card-footer ">
          <div class="row m-0">
          <%= link_to 'View', event_path(event), class: 'btn btn-info btn-sm' %>
          </div>
          <!-- Owner of the events -->
          <% if event.user == current_user %>
           <div class="row m-0">
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary btn-sm' %>
            </div>
          <% end %>
          <!-- Normal user -->
           <div class="row m-0">
            <%= render 'subscriptions/subscribe_button', event: event%>
            </div>
          <!-- Organizer of the event -->
          <% if event.user == current_user %>
             <div class="row m-0">
              <%= link_to 'Delete', 'javascript:void(0);', class: 'btn btn-danger btn-sm', 'data-bs-toggle': 'modal', 'data-bs-target': "#deleteEvent#{event.id}"  %>
              <%= render 'modals/delete_event_modal', event: event %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  <% end %>
<%end %>
