<div class="container mt-5">
  <h1>All Events</h1>
  

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Start: <%= format_date(event.beginning_date) %> at <%= format_time(event.beginning_time) %></h6>
            <h6 class="card-subtitle mb-2 text-muted">End: <%= format_date(event.ending_date) %> at <%= format_time(event.ending_time) %></h6>
            <p class="card-text">Participants: <%= event.subscriptions.count %> / <%= event.max_participants %></p>
            <p class="card-text">Address: <%= event.address %><br/>
            <%= event.city %>, <%= event.province %> (<%= event.cap %>), <%= event.country %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'View', event_path(event), class: 'btn btn-info' %>
            <% if event.user == current_user %>
              <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
              <%= link_to 'Delete', 'javascript:void(0);', class: 'btn btn-danger ms-2', 'data-bs-toggle': 'modal', 'data-bs-target': "#deleteEvent#{event.id}"  %>
              
            <% end %>
          </div>
        </div>
      </div>
      <!-- MODAL -->
      <div class="modal fade" id="deleteEvent<%= event.id %>" tabindex="-1" aria-labelledby="deleteEventLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteEventLabel">Delete: <%= event.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p> Are you sure you want to delete the event? </p>
                <p>Deleting the events means also canceling all of the subscriptions</p>
              
              
              <%= link_to "Delete", event, data: { turbo_method: :delete }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>

      <!--  END MODAL-->
    <% end %>
  </div>
</div>



            