<div class="container mt-5">
  <h1 class="mb-5 text-center">My Events</h1>

  <div class="d-flex justify-content-between mb-4">
    <%= link_to 'Create New Event', new_event_path, class: 'btn btn-success' %>
    <button id="bulk-delete" class="btn btn-danger">Delete Selected</button>
  </div>

  <!-- Tabs for Event Categories -->
  <ul class="nav nav-tabs" id="eventTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="ongoing-tab" data-bs-toggle="tab" data-bs-target="#ongoing-events-tab" type="button" role="tab" aria-controls="ongoing-events" aria-selected="true">Ongoing Events</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="future-tab" data-bs-toggle="tab" data-bs-target="#future-events-tab" type="button" role="tab" aria-controls="future-events" aria-selected="false">Future Events</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past-events-tab" type="button" role="tab" aria-controls="past-events" aria-selected="false">Past Events</button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="eventTabsContent">
    <!-- Ongoing Events Tab Pane -->
    <div class="tab-pane fade show active" id="ongoing-events-tab" role="tabpanel" aria-labelledby="ongoing-tab">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <h4 id="current-count" class="card-title">Total: <%= @current_events.count %></h4>
          <div id="current-events" data-events='<%= @current_events_json %>'></div>
        </div>
      </div>
    </div>

    <!-- Future Events Tab Pane -->
    <div class="tab-pane fade" id="future-events-tab" role="tabpanel" aria-labelledby="future-tab">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <h4 id="future-count" class="card-title">Total: <%= @future_events.count %></h4>
          <div id="future-events" data-events='<%= @future_events_json %>'></div>
        </div>
      </div>
    </div>

    <!-- Past Events Tab Pane -->
    <div class="tab-pane fade" id="past-events-tab" role="tabpanel" aria-labelledby="past-tab">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <h4 class="card-title">Total: <%= @past_events.count %></h4>
          <div id="past-events" data-events='<%= @past_events_json %>'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal  -->
<%= render 'modals/delete_multiple_events_modal' %>
<%= render 'modals/alert_delete_modal' %>