<div class="container my-5 py-4">

  <!-- Display an alert (event ended, subscribed, event full, sign in to subscribe) -->
  <% if @event.ending_date < Date.today %>
    <div class="alert alert-info text-center" role="alert">
      This event has already ended!
    </div>
   <% elsif user_signed_in? && current_user.subscribed?(@event) %>
    <div class="alert alert-info text-center" role="alert">
      You are subscribed to this event!
      </div>
  <% elsif @event.full? %>
    <div class="alert alert-warning text-center" role="alert">
      This event is full!
    </div>
  <% elsif !user_signed_in? %>
    <div class="alert alert-info text-center" role="alert">
      Sign in to subscribe to the event!
    </div>
  <% end %>

  <div class="row g-4">
    <!-- Left Column: Event Photos -->
    <div class="col-md-6">
       <%= render 'carousel', event: @event, fixed: false %>
    </div>

    <!-- Right Column: Details -->
    <div class="col-md-6">
      <div class="p-3 shadow-sm rounded bg-white">
        <h2 class="mb-3"><%= @event.name %></h2>
        <p class="mb-2"><strong>Event Organizer:</strong> <%= @event.user.get_name %></p>
        <p class="mb-2"><strong>Start:</strong> <%= format_date(@event.beginning_date) %> at <%= format_time(@event.beginning_time) %></p>
        <p class="mb-2"><strong>End:</strong> <%= format_date(@event.ending_date) %> at <%= format_time(@event.ending_time) %></p>
        <p class="mb-2"><strong>Participants:</strong> <%= @event.subscriptions.count %> / <%= @event.max_participants %></p>
        <p class="mb-3"><strong>Address:</strong> <%= @event.address %></p>
        <p class="mb-3"><strong>City:</strong> <%= @event.city %>, <%= @event.province %> (<%= @event.cap %>), <%= @event.country %></p>
        <% if @event.description and @event.description != "" and @event.description.length > 0 %> 
          <p class="mb-3"><strong>Description:</strong> <%= @event.description %></p>
        <%end%>
        <hr/>
        
        <div class="d-flex justify-content-between align-items-center mt-4">
          <!-- Subscribe to the events -->
           <% if user_signed_in?%>
            <%= render 'subscriptions/subscribe_button', event: @event%>
          <%else %>
          <!-- log in to subscribe -->
             <%= link_to "Sign in to Subscribe", new_user_session_path, class: 'btn btn-outline-primary' %>
          <% end %>

          <% if @event.user == current_user %>
            <% if @event.ending_date >= Date.today %>
              <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-outline-primary' %>
            <% end %>
            <%= link_to 'Delete', 'javascript:void(0);', class: 'btn btn-outline-danger', 'data-bs-toggle': 'modal', 'data-bs-target': "#deleteEvent#{@event.id}"  %>
            <%= render 'modals/delete_event_modal', event: @event %>
            
            <%= link_to 'My Events', my_events_path, class: 'btn btn-outline-secondary'%>
          <% end %>
          <%= link_to 'Back to Events', events_path, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Display the subscriptions (if user is signed in and is the owner) -->
  <% if user_signed_in? && current_user == @event.user %>
    <%= render 'subscriptions/event_subscriptions_list', event: @event, subscriptions: @subscriptions%>
    <% end %>
</div>
