<div class="container mt-5">
  <div class="row">
    <!-- Left Column: Event Details -->
    <div class="col-md-4">
      <h3><%= @event.name %></h3>
      <p><strong>Event Organizer:</strong> <%= @event.user.get_name %></p>
      <p><strong>Start:</strong> <%= format_date(@event.beginning_date) %> at <%= format_time(@event.beginning_time) %></p>
      <p><strong>End:</strong> <%= format_date(@event.ending_date) %> at <%= format_time(@event.ending_time) %></p>
      <p><strong>Participants:</strong> <%= @event.subscriptions.count %> / <%= @event.max_participants %></p>
      <p><strong>Address:</strong> <%= @event.address %><br>
      <%= @event.city %>, <%= @event.province %> (<%= @event.cap %>), <%= @event.country %></p>
      
      <% if @event.user == current_user %>
        <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary me-2' %>
         <%= link_to 'Delete', 'javascript:void(0);', class: 'btn btn-danger ms-2', 'data-bs-toggle': 'modal', 'data-bs-target': "#deleteEvent#{@event.id}"  %>
          <%= render 'modals/delete_event_modal', event: @event %>
      <% end %>
      <% if @event.user == current_user %>
        <%= link_to 'Back to My Events', my_events_path, class: 'btn btn-secondary mt-2' %>
        <%= link_to 'Back to Events', events_path, class: 'btn btn-secondary mt-2' %>
      <% else %>
        <%= link_to 'Back to Events', events_path, class: 'btn btn-secondary mt-2' %>
      <% end %>
    </div>
    
    <!-- Right Column: Subscriptions -->
    <div class="col-md-8">
      <h3>Subscriptions</h3>
      <!-- Subscription List or Details Here -->
    </div>
  </div>
</div>

