<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal form-with-locations" }) do |f| %>
  <div class="row">
    <div class="col-md-4 mb-3">
      <%= render "common_fields_form/name_field", f: f, required: true %>
    </div>
    <div class="col-md-4 mb-3">
      <%= render "common_fields_form/surname_field", f: f, required: true %>
    </div>
    <div class="col-md-4 mb-3">
      <%= render "common_fields_form/date_of_birth_field", f: f, required: true %>
    </div>
  </div>
  <div class="mb-3">
    <%= render "common_fields_form/email_field", f: f, required: true %>
  </div>
  <%= hidden_field_tag :user_type, params[:user_type], id: "hidden_type" %>
  <%= f.hidden_field :type, value: params[:user_type], id: "hidden_user_type" %>
  <div class="mb-3">
    <%= render "common_fields_form/phone_field", f: f, required: true %>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= render "common_fields_form/country_field", f: f %>
    </div>
    <div class="col-md-3 mb-3">
      <%= render "common_fields_form/city_field", f: f %>
    </div>
    <div class="col-md-3 mb-3">
      <%= render "common_fields_form/cap_field", f: f %>
    </div>
    <div class="col-md-3 mb-3">
      <%= render "common_fields_form/province_field", f: f %>
    </div>
  </div>
  <div class="mb-3">
    <%= render "common_fields_form/address_field", f: f %>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= render "common_fields_form/password_field", f: f %>
    </div>
    <div class="col-md-6 mb-3">
      <%= render "common_fields_form/confirm_password_field", f: f %>
    </div>
  </div>
  <%= render "common_fields_form/display_errors", f: f %>
  <div class="actions d-grid gap-2">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
